body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

h1 {
    font-weight: bold;
    color: skyblue;
    font-size: 30px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #cecece;
    background-color: #333;
    text-align: center;
}